/* Общие цвета для страниц */
:root {
  --color-custom-hover: #00000010;
  --color-modal-background: #ffffff;
  --color-messenger1: #25D366;
  --color-messenger2: #2AABEE;
}

/* Скрытие полос прокрутки без влияния на функциональность */
/* Скрытие только визуальных полос прокрутки, прокрутка остается рабочей */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer 10+ */
body {
  -ms-overflow-style: none;
}
